<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
    <meta charset="utf-8" />
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
